#login-page {
    background-color: black;
   
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
#login-form {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 50px 30px;
    position: absolute;
    left: calc(50% - 180px);
    top: 20vh;
    width: 300px;
    height: 300px;
  }
  #login-form .fa-icon {
    color: #3c3c3c;
    font-size: 24px;
    margin: 5px;
  }
  #login-form input {
    background-color: white;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 10px 10px;
    -webkit-text-fill-color: none;
  }
  .login-input-container {
    background-color: white;
    display: flex;
    margin-bottom: 40px;
    padding: 5px;
  }
  .login-button {
    background-color: #3498db;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }
  @media only screen and (max-width: 500px){
  
  }