.appointment-info {
    font-size: 12px;
    margin: 0px;
  }
  .Pilates {
    background-color: #7fb0ff;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    width: 150px;
  }
  .Massage {
    background-color: #ffd256;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    width: 150px;
  }
  .Chiro {
    background-color: #75ff80;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    width: 150px;
  }